$table--padding: (all: 0.3rem) !default;
$table__caption--padding: (top: 0.9rem, bottom: 0.3rem) !default;
$table__caption--margin: (all: 0) !default;
$table__caption--text: (textAlign: left) !default;
$table__caption--font: (fontSize: 0.8rem) !default;
$table__thead--border:(borderStyle: solid, borderColor: #000, borderWidth: 0 0 0.2rem 0) !default;
$table__thead--background:(backgroundColor: #5e5e5e) !default;
$table__tbody--border:() !default;
$table__tbody--background:() !default;
$table__tfoot--border:(borderStyle: solid, borderColor: #000, borderWidth: 0.2rem 0 0 0) !default;
$table__tfoot--background:() !default;
$table__td--padding: (all: 0.3rem) !default;
$table__td--font: () !default;
$table__td--text: () !default;
$table__td--typography: () !default;
//modifiers
$table__td_th--padding: (all: 0.3rem) !default;
$table__td_th--font: (fontWeight: 700) !default;
$table__td_th--text: (color: #fff) !default;
$table__td_th--typography: () !default;
$table__tr_alternaterowsPodd--background: (backgroundColor:#ccc) !default;
$table__tr_alternaterowsPodd--text: (color: #000) !default;
$table__tr_alternaterowsPeven--background: (backgroundColor:#fff) !default;
$table__tr_alternaterowsPeven--text: (color: #000) !default;
$table__tr_list--border: (borderStyle: solid, borderColor: #818181, borderWidth: 0.1rem 0 0 0) !default;
$table__td_listPbefore--text: () !default;
$table__td_listPbefore--font: (fontWeight: 700) !default;
$table__td_listPbefore--typography: () !default;
$table__td_listPbefore--padding: (right: 0.4rem) !default;