/*
.demo {
    background-color: red;
    @include mqMin(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqMax(w4) {
	    background-color: blue;
	}
}
*/
/*
.demo {
    background-color: red;
    @include mqRange(w2, w4) {
	    background-color: blue;
	}
}
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  color: #000;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
}

button,
input,
select,
textarea {
  border-radius: 0;
  border-width: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.15;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=search] {
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  display: none;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time],
input[type=week] {
  min-height: 1rem;
}
input[type=date]::-webkit-clear-button,
input[type=datetime-local]::-webkit-clear-button,
input[type=month]::-webkit-clear-button,
input[type=time]::-webkit-clear-button,
input[type=week]::-webkit-clear-button {
  display: none;
}
input[type=date]::-webkit-inner-spin-button,
input[type=datetime-local]::-webkit-inner-spin-button,
input[type=month]::-webkit-inner-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=week]::-webkit-inner-spin-button {
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator:hover,
input[type=datetime-local]::-webkit-calendar-picker-indicator:hover,
input[type=month]::-webkit-calendar-picker-indicator:hover,
input[type=time]::-webkit-calendar-picker-indicator:hover,
input[type=week]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

fieldset {
  border-radius: 0;
  border-width: 0;
  margin: 0;
  padding: 0.01rem 0 0 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

label,
legend {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

legend {
  display: table;
  float: left;
  width: 0;
}
legend + * {
  clear: both;
}

output {
  font-size: 1rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-box-sizing: border-box;
  line-height: 1.15;
}

select::-ms-expand {
  display: none;
}

textarea {
  overflow: auto;
}

figure,
img,
map,
picture {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
}

canvas {
  height: auto;
  width: 100%;
}

figcaption {
  font-size: 1rem;
  font-style: normal;
}

a, a:focus, a:hover, a:active {
  color: #000;
  text-decoration: none;
  outline: none;
}

dl,
menu,
ol,
ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

dd,
dt,
li,
menuitem {
  font-style: normal;
  margin: 0;
  padding: 0;
}

table {
  border-color: transparent;
  border-width: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  font-weight: normal;
  text-align: left;
}

tr {
  border-color: transparent;
  border-width: 0;
}

th {
  font-weight: normal;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

abbr {
  text-decoration: none;
}

address {
  font-style: normal;
}

blockquote {
  margin: 0;
  padding: 0;
}

cite {
  font-style: normal;
}

code {
  font-family: inherit;
}

del {
  text-decoration: none;
}

dfn {
  font-style: normal;
}

em {
  font-style: normal;
}

i {
  font-style: normal;
}

ins {
  text-decoration: none;
}

kbd {
  font-family: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

pre {
  font-family: inherit;
  margin: 0;
}

q:after, q:before {
  content: none;
}

s {
  text-decoration: none;
}

samp {
  font-family: inherit;
}

strong {
  font-weight: 400;
}

u {
  text-decoration: none;
}

var {
  font-style: normal;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.3rem 0;
  min-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.breadcrumb__heading {
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.breadcrumb__trail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
}

.breadcrumb__item {
  padding-left: 0.3rem;
}
.breadcrumb__item:after {
  content: "";
  display: inline-block;
  height: 0.4rem;
  width: 0.4rem;
  border-color: #000;
  border-style: solid;
  border-width: 0 0.1rem 0.1rem 0;
  -webkit-transform: translate(0, -0.1rem) rotate(-45deg);
      -ms-transform: translate(0, -0.1rem) rotate(-45deg);
          transform: translate(0, -0.1rem) rotate(-45deg);
}
.breadcrumb__item:last-child:after {
  content: none;
}

.breadcrumb__link[href] {
  text-decoration: underline;
}
.breadcrumb__link[href]:hover, .breadcrumb__link[href]:focus {
  text-decoration: none;
}

.breadcrumb__link_current {
  font-weight: 600;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  color: #fff;
  border-color: #222;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #222;
  min-width: 10rem;
  padding: 0.4rem 0.8rem;
}
.btn:focus, .btn:hover {
  background-color: #3c3c3c;
}
.btn:active {
  background-color: #222;
}

.btn__txt {
  display: inline-block;
}

.btn__icon {
  display: inline-block;
}

.btn_xs {
  padding: 0.32rem 0.64rem;
  font-size: 0.8rem;
}

.btn_sm {
  padding: 0.36rem 0.72rem;
  font-size: 0.9rem;
}

.btn_lg {
  padding: 0.48rem 0.96rem;
  font-size: 1.2rem;
}

.btn_xl {
  padding: 0.56rem 1.12rem;
  font-size: 1.4rem;
}

.btn_full {
  max-width: none;
  min-width: 100%;
  width: 100%;
}

.btn_primary {
  display: inline-block;
  color: #fff;
  border-color: #0b4187;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #0b4187;
}
.btn_primary:hover, .btn_primary:focus {
  background-color: #0f58b6;
}
.btn_primary:active {
  background-color: #0b4187;
}

.btn_secondary {
  display: inline-block;
  color: #fff;
  border-color: #810909;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #810909;
}
.btn_secondary:hover, .btn_secondary:focus {
  background-color: #b10c0c;
}
.btn_secondary:active {
  background-color: #810909;
}

.btn_tertiary {
  display: inline-block;
  color: #fff;
  border-color: #0e703b;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 0.1rem;
  background-color: #0e703b;
}
.btn_tertiary:hover, .btn_tertiary:focus {
  background-color: #149d53;
}
.btn_tertiary:active {
  border-color: #0e703b;
  background-color: #0e703b;
}
