.txt_threecol {
    @if $colsTabletMinWidth !='' {
        @include mqMin(w2) {
            column-width: $txt_threecol--width;
            column-count: 2;
            column-gap: $txt_threecol--gap;
            column-fill: balance;
        }
    }
    @if $colsDesktopMinWidth !='' {
        @include mqMin(w4) {
            column-count: 3;
        }
    }
}