.txt_twocol {
    @if $colsTabletMinWidth !='' {
        @include mqMin(w2) {
            column-width: $txt_twocol--width;
            column-count: 2;
            column-gap: $txt_twocol--gap;
            column-fill: balance;
        }
    }
}